/* * {
    border-style: solid;
} */

body {
    background-color: rgba(222, 130, 217,0.5);
    color: blue;
}

a {
    text-decoration: none;
}

#lien {
    text-decoration: none;
    background-color: rgb(243, 246, 241);
    font-size: 20px;
    text-align: center;
}

.p2 {
    background-color: black;
    color: aliceblue;
    padding: 10px;
    border-radius: 20px;
    border: solid 10px green;
}

div#image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
img {
    border-radius: 30% 0 30% 0;
}

table {
border-collapse: collapse;
width: 100%;
}

tr td{
    border: solid 1px black;
}

thead td{
    border: solid 2px black;
    background-color: pink;
    text-align: center;
}

table caption {
    font-size: 30px;
}